In [1]:
import pandas as pd

In [2]:
matches = pd.read_csv("matches.csv",index_col=0)

In [3]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0,1,Tottenham,...,Match Report,NaN,18.0,4.0,17.3,1.0,0.0,0.0,2023,Manchester City
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5,0,Norwich City,...,Match Report,NaN,16.0,4.0,18.5,1.0,0.0,0.0,2023,Manchester City
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5,0,Arsenal,...,Match Report,NaN,25.0,10.0,14.8,0.0,0.0,0.0,2023,Manchester City
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1,0,Leicester City,...,Match Report,NaN,25.0,8.0,14.3,0.0,0.0,0.0,2023,Manchester City
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0,0,Southampton,...,Match Report,NaN,16.0,1.0,16.4,1.0,0.0,0.0,2023,Manchester City

In [4]:
matches.shape

(3800, 27)

In [5]:
38*20*5

3800

In [6]:
matches["team"].value_counts()

Manchester City             190
Brighton and Hove Albion    190
Burnley                     190
Everton                     190
Liverpool                   190
Crystal Palace              190
Newcastle United            190
Southampton                 190
Leicester City              190
Tottenham Hotspur           190
West Ham United             190
Manchester United           190
Chelsea                     190
Arsenal                     190
Wolverhampton Wanderers     152
Watford                     152
Aston Villa                 114
Bournemouth                 114
Leeds United                 76
Norwich City                 76
Fulham                       76
West Bromwich Albion         76
Sheffield United             76
Huddersfield Town            76
Brentford                    38
Cardiff City                 38
Swansea City                 38
Stoke City                   38
Name: team, dtype: int64

In [8]:
matches["round"].value_counts()

Matchweek 1     100
Matchweek 29    100
Matchweek 22    100
Matchweek 23    100
Matchweek 24    100
Matchweek 25    100
Matchweek 26    100
Matchweek 27    100
Matchweek 28    100
Matchweek 31    100
Matchweek 2     100
Matchweek 32    100
Matchweek 30    100
Matchweek 34    100
Matchweek 35    100
Matchweek 36    100
Matchweek 33    100
Matchweek 37    100
Matchweek 21    100
Matchweek 20    100
Matchweek 19    100
Matchweek 18    100
Matchweek 3     100
Matchweek 4     100
Matchweek 5     100
Matchweek 6     100
Matchweek 7     100
Matchweek 8     100
Matchweek 9     100
Matchweek 10    100
Matchweek 11    100
Matchweek 12    100
Matchweek 13    100
Matchweek 14    100
Matchweek 15    100
Matchweek 16    100
Matchweek 17    100
Matchweek 38    100
Name: round, dtype: int64

In [9]:
 matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf                int64
ga                int64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

In [10]:
matches["date"] = pd.to_datetime(matches["date"])

In [11]:
matches.dtypes

date            datetime64[ns]
time                    object
comp                    object
round                   object
day                     object
venue                   object
result                  object
gf                       int64
ga                       int64
opponent                object
xg                     float64
xga                    float64
poss                   float64
attendance             float64
captain                 object
formation               object
referee                 object
match report            object
notes                  float64
sh                     float64
sot                    float64
dist                   float64
fk                     float64
pk                     float64
pkatt                  float64
season                   int64
team                    object
dtype: object

In [12]:
matches["venue_code"] = matches["venue"].astype("category").cat.codes

In [15]:
matches["opp_code"] = matches["opponent"].astype("category").cat.codes

In [16]:
matches

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,sh,sot,dist,fk,pk,pkatt,season,team,venue_code,opp_code
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0,1,Tottenham,...,18.0,4.0,17.3,1.0,0.0,0.0,2023,Manchester City,0,23
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5,0,Norwich City,...,16.0,4.0,18.5,1.0,0.0,0.0,2023,Manchester City,1,18
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5,0,Arsenal,...,25.0,10.0,14.8,0.0,0.0,0.0,2023,Manchester City,1,0
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1,0,Leicester City,...,25.0,8.0,14.3,0.0,0.0,0.0,2023,Manchester City,0,13
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0,0,Southampton,...,16.0,1.0,16.4,1.0,0.0,0.0,2023,Manchester City,1,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2018-04-15,16:00,Premier League,Matchweek 34,Sun,Away,W,1,0,Manchester Utd,...,10.0,4.0,18.1,0.0,0.0,0.0,2019,West Bromwich Albion,0,16
39,2018-04-21,12:30,Premier League,Matchweek 35,Sat,Home,D,2,2,Liverpool,...,13.0,6.0,17.7,0.0,0.0,0.0,2019,West Bromwich Albion,1,14
40,2018-04-28,15:00,Premier League,Matchweek 36,Sat,Away,W,1,0,Newcastle Utd,...,9.0,2.0,20.1,0.0,0.0,0.0,2019,West Bromwich Albion,0,17
41,2018-05-05,15:00,Premier League,Matchweek 37,Sat,Home,W,1,0,Tottenham,...,9.0,1.0,10.2,0.0,0.0,0.0,2019,West Bromwich Albion,1,23
42,2018-05-13,15:00,Premier League,Matchweek 38,Sun,Away,L,0,2,Crystal Palace,...,7.0,1.0,24.8,1.0,0.0,0.0,2019,West Bromwich Albion,0,8

In [17]:
matches["hour"] = matches["time"].str.replace(":.+","",regex=True).astype("int")

In [19]:
matches["day_code"] = matches["date"].dt.dayofweek

In [20]:
matches["target"] = (matches["result"]=="W").astype("int")

In [21]:
matches

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,fk,pk,pkatt,season,team,venue_code,opp_code,hour,day_code,target
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0,1,Tottenham,...,1.0,0.0,0.0,2023,Manchester City,0,23,16,6,0
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5,0,Norwich City,...,1.0,0.0,0.0,2023,Manchester City,1,18,15,5,1
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5,0,Arsenal,...,0.0,0.0,0.0,2023,Manchester City,1,0,12,5,1
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1,0,Leicester City,...,0.0,0.0,0.0,2023,Manchester City,0,13,15,5,1
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0,0,Southampton,...,1.0,0.0,0.0,2023,Manchester City,1,20,15,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2018-04-15,16:00,Premier League,Matchweek 34,Sun,Away,W,1,0,Manchester Utd,...,0.0,0.0,0.0,2019,West Bromwich Albion,0,16,16,6,1
39,2018-04-21,12:30,Premier League,Matchweek 35,Sat,Home,D,2,2,Liverpool,...,0.0,0.0,0.0,2019,West Bromwich Albion,1,14,12,5,0
40,2018-04-28,15:00,Premier League,Matchweek 36,Sat,Away,W,1,0,Newcastle Utd,...,0.0,0.0,0.0,2019,West Bromwich Albion,0,17,15,5,1
41,2018-05-05,15:00,Premier League,Matchweek 37,Sat,Home,W,1,0,Tottenham,...,0.0,0.0,0.0,2019,West Bromwich Albion,1,23,15,5,1
42,2018-05-13,15:00,Premier League,Matchweek 38,Sun,Away,L,0,2,Crystal Palace,...,1.0,0.0,0.0,2019,West Bromwich Albion,0,8,15,6,0

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
rf = RandomForestClassifier(n_estimators=50,min_samples_split=10,random_state=1)

In [24]:
train = matches[matches["date"]<'2022-01-01']

In [25]:
test = matches[matches["date"]>'2022-01-01']

In [26]:
predictors = ["venue_code","opp_code","hour","day_code"]

In [27]:
rf.fit(train[predictors],train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [28]:
preds = rf.predict(test[predictors])

In [29]:
from sklearn.metrics import accuracy_score

In [30]:
acc = accuracy_score(test["target"],preds)

In [31]:
acc

0.6056701030927835

In [32]:
combined = pd.DataFrame(dict(actual=test["target"],prediction=preds))

In [33]:
pd.crosstab(index=combined["actual"],columns=combined["prediction"])

prediction    0   1
actual
0           186  47
1           106  49

In [34]:
from sklearn.metrics import precision_score

In [35]:
precision_score(test["target"],preds)

0.5104166666666666

In [36]:
grouped_matches = matches.groupby("team")

In [37]:
group = grouped_matches.get_group("Manchester United")

In [38]:
group

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,fk,pk,pkatt,season,team,venue_code,opp_code,hour,day_code,target
0,2021-08-14,12:30,Premier League,Matchweek 1,Sat,Home,W,5,1,Leeds United,...,0.0,0.0,0.0,2023,Manchester United,1,12,12,5,1
1,2021-08-22,14:00,Premier League,Matchweek 2,Sun,Away,D,1,1,Southampton,...,1.0,0.0,0.0,2023,Manchester United,0,20,14,6,0
2,2021-08-29,16:30,Premier League,Matchweek 3,Sun,Away,W,1,0,Wolves,...,1.0,0.0,0.0,2023,Manchester United,0,27,16,6,1
3,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Home,W,4,1,Newcastle Utd,...,0.0,0.0,0.0,2023,Manchester United,1,17,15,5,1
5,2021-09-19,14:00,Premier League,Matchweek 5,Sun,Away,W,2,1,West Ham,...,0.0,0.0,0.0,2023,Manchester United,0,26,14,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49,2018-04-18,19:45,Premier League,Matchweek 35,Wed,Away,W,2,0,Bournemouth,...,1.0,0.0,0.0,2019,Manchester United,0,2,19,2,1
51,2018-04-29,16:30,Premier League,Matchweek 36,Sun,Home,W,2,1,Arsenal,...,1.0,0.0,0.0,2019,Manchester United,1,0,16,6,1
52,2018-05-04,20:00,Premier League,Matchweek 37,Fri,Away,L,0,1,Brighton,...,2.0,0.0,0.0,2019,Manchester United,0,4,20,4,0
53,2018-05-10,19:45,Premier League,Matchweek 31,Thu,Away,D,0,0,West Ham,...,0.0,0.0,0.0,2019,Manchester United,0,26,19,3,0
54,2018-05-13,15:00,Premier League,Matchweek 38,Sun,Home,W,1,0,Watford,...,0.0,0.0,0.0,2019,Manchester United,1,24,15,6,1

In [39]:
def rolling_averages(group,cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [40]:
cols = ["gf","ga","sh","sot","dist","fk","pk","pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

In [41]:
new_cols

['gf_rolling',
 'ga_rolling',
 'sh_rolling',
 'sot_rolling',
 'dist_rolling',
 'fk_rolling',
 'pk_rolling',
 'pkatt_rolling']

In [42]:
rolling_averages(group,cols,new_cols)

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
4,2017-09-09,17:30,Premier League,Matchweek 4,Sat,Away,D,2,2,Stoke City,...,5,0,3.333333,0.000000,19.666667,6.333333,18.733333,0.666667,0.000000,0.333333
6,2017-09-17,16:00,Premier League,Matchweek 5,Sun,Home,W,4,0,Everton,...,6,1,2.666667,0.666667,18.666667,7.333333,18.633333,1.000000,0.000000,0.333333
8,2017-09-23,15:00,Premier League,Matchweek 6,Sat,Away,W,1,0,Southampton,...,5,1,2.666667,0.666667,18.000000,6.666667,17.766667,1.333333,0.333333,0.666667
10,2017-09-30,15:00,Premier League,Matchweek 7,Sat,Home,W,4,0,Crystal Palace,...,5,1,2.333333,0.666667,14.000000,6.000000,16.933333,1.333333,0.333333,0.333333
11,2017-10-14,12:30,Premier League,Matchweek 8,Sat,Away,D,0,0,Liverpool,...,5,0,3.000000,0.000000,14.000000,5.666667,15.600000,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,2022-04-23,12:30,Premier League,Matchweek 34,Sat,Away,L,1,3,Arsenal,...,5,0,1.000000,2.333333,11.333333,4.666667,18.600000,0.333333,0.000000,0.000000
45,2022-04-28,19:45,Premier League,Matchweek 37,Thu,Home,D,1,1,Chelsea,...,3,0,1.333333,3.000000,11.666667,5.000000,18.800000,0.333333,0.000000,0.333333
46,2022-05-02,20:00,Premier League,Matchweek 35,Mon,Home,W,3,0,Brentford,...,0,1,0.666667,2.666667,7.000000,3.000000,18.333333,0.000000,0.000000,0.333333
47,2022-05-07,17:30,Premier League,Matchweek 36,Sat,Away,L,0,4,Brighton,...,5,0,1.666667,1.333333,9.000000,4.000000,18.100000,0.333333,0.333333,0.666667
48,2022-05-22,16:00,Premier League,Matchweek 38,Sun,Away,L,0,1,Crystal Palace,...,6,0,1.333333,1.666667,9.666667,4.000000,18.533333,0.666667,0.333333,0.333333

In [43]:
matches_rolling = matches.groupby("team").apply(lambda x: rolling_averages(x,cols,new_cols))

In [44]:
matches_rolling

                                 date   time            comp         round  \
team
Arsenal                 4  2017-09-09  15:00  Premier League   Matchweek 4
                        6  2017-09-17  13:30  Premier League   Matchweek 5
                        8  2017-09-25  20:00  Premier League   Matchweek 6
                        10 2017-10-01  12:00  Premier League   Matchweek 7
                        11 2017-10-14  17:30  Premier League   Matchweek 8
...                               ...    ...             ...           ...
Wolverhampton Wanderers 37 2022-04-30  15:00  Premier League  Matchweek 35
                        38 2022-05-07  15:00  Premier League  Matchweek 36
                        39 2022-05-11  20:15  Premier League  Matchweek 33
                        40 2022-05-15  14:00  Premier League  Matchweek 37
                        41 2022-05-22  16:00  Premier League  Matchweek 38

                            day venue result  gf  ga         opponent  ...  \
team                                                                   ...
Arsenal                 4   Sat  Home      W   3   0      Bournemouth  ...
                        6   Sun  Away      D   0   0          Chelsea  ...
                        8   Mon  Home      W   2   0        West Brom  ...
                        10  Sun  Home      W   2   0         Brighton  ...
                        11  Sat  Away      L   1   2          Watford  ...
...                         ...   ...    ...  ..  ..              ...  ...
Wolverhampton Wanderers 37  Sat  Home      L   0   3         Brighton  ...
                        38  Sat  Away      D   2   2          Chelsea  ...
                        39  Wed  Home      L   1   5  Manchester City  ...
                        40  Sun  Home      D   1   1     Norwich City  ...
                        41  Sun  Away      L   1   3        Liverpool  ...

                            day_code  target  gf_rolling  ga_rolling  \
team
Arsenal                 4          5       1    1.333333    2.666667
                        6          6       0    1.000000    1.666667
                        8          0       1    1.000000    1.333333
                        10         6       1    1.666667    0.000000
                        11         5       0    1.333333    0.000000
...                              ...     ...         ...         ...
Wolverhampton Wanderers 37         5       0    0.666667    1.000000
                        38         5       0    0.000000    1.666667
                        39         2       0    0.666667    2.000000
                        40         6       0    1.000000    3.333333
                        41         6       0    1.333333    2.666667

                           sh_rolling sot_rolling dist_rolling fk_rolling  \
team
Arsenal                 4   17.666667    5.333333    18.133333   0.000000
                        6   14.333333    5.000000    16.766667   0.333333
                        8   12.000000    3.666667    16.566667   0.333333
                        10  14.333333    5.333333    17.400000   1.333333
                        11  17.000000    5.000000    18.333333   1.666667
...                               ...         ...          ...        ...
Wolverhampton Wanderers 37   8.666667    3.333333    17.400000   0.000000
                        38   8.666667    2.333333    18.633333   0.333333
                        39  11.666667    3.000000    17.766667   0.333333
                        40  10.666667    2.666667    17.066667   0.333333
                        41  12.666667    3.666667    17.766667   0.333333

                            pk_rolling  pkatt_rolling
team
Arsenal                 4     0.000000       0.000000
                        6     0.000000       0.000000
                        8     0.000000       0.000000
                        10    0.333333       0.333333
                        11    0.333333       0.333333
...                                ...            ...
Wolverhampton Wanderers 37    0.000000       0.000000
                        38    0.000000       0.000000
                        39    0.000000       0.000000
                        40    0.000000       0.000000
                        41    0.000000       0.000000

[3707 rows x 40 columns]

In [45]:
matches_rolling = matches_rolling.droplevel('team')

In [46]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
4,2017-09-09,15:00,Premier League,Matchweek 4,Sat,Home,W,3,0,Bournemouth,...,5,1,1.333333,2.666667,17.666667,5.333333,18.133333,0.000000,0.000000,0.000000
6,2017-09-17,13:30,Premier League,Matchweek 5,Sun,Away,D,0,0,Chelsea,...,6,0,1.000000,1.666667,14.333333,5.000000,16.766667,0.333333,0.000000,0.000000
8,2017-09-25,20:00,Premier League,Matchweek 6,Mon,Home,W,2,0,West Brom,...,0,1,1.000000,1.333333,12.000000,3.666667,16.566667,0.333333,0.000000,0.000000
10,2017-10-01,12:00,Premier League,Matchweek 7,Sun,Home,W,2,0,Brighton,...,6,1,1.666667,0.000000,14.333333,5.333333,17.400000,1.333333,0.333333,0.333333
11,2017-10-14,17:30,Premier League,Matchweek 8,Sat,Away,L,1,2,Watford,...,5,0,1.333333,0.000000,17.000000,5.000000,18.333333,1.666667,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,2022-04-30,15:00,Premier League,Matchweek 35,Sat,Home,L,0,3,Brighton,...,5,0,0.666667,1.000000,8.666667,3.333333,17.400000,0.000000,0.000000,0.000000
38,2022-05-07,15:00,Premier League,Matchweek 36,Sat,Away,D,2,2,Chelsea,...,5,0,0.000000,1.666667,8.666667,2.333333,18.633333,0.333333,0.000000,0.000000
39,2022-05-11,20:15,Premier League,Matchweek 33,Wed,Home,L,1,5,Manchester City,...,2,0,0.666667,2.000000,11.666667,3.000000,17.766667,0.333333,0.000000,0.000000
40,2022-05-15,14:00,Premier League,Matchweek 37,Sun,Home,D,1,1,Norwich City,...,6,0,1.000000,3.333333,10.666667,2.666667,17.066667,0.333333,0.000000,0.000000
41,2022-05-22,16:00,Premier League,Matchweek 38,Sun,Away,L,1,3,Liverpool,...,6,0,1.333333,2.666667,12.666667,3.666667,17.766667,0.333333,0.000000,0.000000

In [47]:
matches_rolling.index = range(matches_rolling.shape[0])

In [48]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
0,2017-09-09,15:00,Premier League,Matchweek 4,Sat,Home,W,3,0,Bournemouth,...,5,1,1.333333,2.666667,17.666667,5.333333,18.133333,0.000000,0.000000,0.000000
1,2017-09-17,13:30,Premier League,Matchweek 5,Sun,Away,D,0,0,Chelsea,...,6,0,1.000000,1.666667,14.333333,5.000000,16.766667,0.333333,0.000000,0.000000
2,2017-09-25,20:00,Premier League,Matchweek 6,Mon,Home,W,2,0,West Brom,...,0,1,1.000000,1.333333,12.000000,3.666667,16.566667,0.333333,0.000000,0.000000
3,2017-10-01,12:00,Premier League,Matchweek 7,Sun,Home,W,2,0,Brighton,...,6,1,1.666667,0.000000,14.333333,5.333333,17.400000,1.333333,0.333333,0.333333
4,2017-10-14,17:30,Premier League,Matchweek 8,Sat,Away,L,1,2,Watford,...,5,0,1.333333,0.000000,17.000000,5.000000,18.333333,1.666667,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3702,2022-04-30,15:00,Premier League,Matchweek 35,Sat,Home,L,0,3,Brighton,...,5,0,0.666667,1.000000,8.666667,3.333333,17.400000,0.000000,0.000000,0.000000
3703,2022-05-07,15:00,Premier League,Matchweek 36,Sat,Away,D,2,2,Chelsea,...,5,0,0.000000,1.666667,8.666667,2.333333,18.633333,0.333333,0.000000,0.000000
3704,2022-05-11,20:15,Premier League,Matchweek 33,Wed,Home,L,1,5,Manchester City,...,2,0,0.666667,2.000000,11.666667,3.000000,17.766667,0.333333,0.000000,0.000000
3705,2022-05-15,14:00,Premier League,Matchweek 37,Sun,Home,D,1,1,Norwich City,...,6,0,1.000000,3.333333,10.666667,2.666667,17.066667,0.333333,0.000000,0.000000
3706,2022-05-22,16:00,Premier League,Matchweek 38,Sun,Away,L,1,3,Liverpool,...,6,0,1.333333,2.666667,12.666667,3.666667,17.766667,0.333333,0.000000,0.000000

In [50]:
def make_predictions(data,predictors):
    train = data[data["date"] < '2022-01-01']
    test = data[data["date"] > '2022-01-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    precision = precision_score(test["target"], preds)
    return combined, precision

In [51]:
combined, precision = make_predictions(matches_rolling, predictors + new_cols)

In [52]:
precision

0.6078431372549019

In [53]:
combined

      actual  predicted
169        0          1
170        1          1
171        1          1
172        1          0
173        1          0
...      ...        ...
3702       0          0
3703       0          0
3704       0          0
3705       0          0
3706       0          0

[388 rows x 2 columns]

In [54]:
combined = combined.merge(matches_rolling[["date","team","opponent","result"]], left_index=True,right_index=True)

In [55]:
combined

,actual,predicted,date,team,opponent,result
169,0,1,2022-01-23,Arsenal,Burnley,D
170,1,1,2022-02-10,Arsenal,Wolves,W
171,1,1,2022-02-19,Arsenal,Brentford,W
172,1,0,2022-02-24,Arsenal,Wolves,W
173,1,0,2022-03-06,Arsenal,Watford,W
...,...,...,...,...,...,...
3702,0,0,2022-04-30,Wolverhampton Wanderers,Brighton,L
3703,0,0,2022-05-07,Wolverhampton Wanderers,Chelsea,D
3704,0,0,2022-05-11,Wolverhampton Wanderers,Manchester City,L
3705,0,0,2022-05-15,Wolverhampton Wanderers,Norwich City,D
3706,0,0,2022-05-22,Wolverhampton Wanderers,Liverpool,L

In [56]:
class MissingDict(dict):
    __missing__ = lambda self,key:key

map_values = {
    "Brighton and Hove Albion": "Brighton",
    "Manchester United": "Manchester Utd", 
    "Newcastle United": "Newcastle Utd", 
    "Tottenham Hotspur": "Tottenham",
     "West Ham United": "West Ham", 
     "Wolverhampton Wanderers": "Wolves"
     
} 
mapping = MissingDict(**map_values)

In [57]:
combined["new_team"] = combined["team"].map(mapping)

In [58]:
combined

,actual,predicted,date,team,opponent,result,new_team
169,0,1,2022-01-23,Arsenal,Burnley,D,Arsenal
170,1,1,2022-02-10,Arsenal,Wolves,W,Arsenal
171,1,1,2022-02-19,Arsenal,Brentford,W,Arsenal
172,1,0,2022-02-24,Arsenal,Wolves,W,Arsenal
173,1,0,2022-03-06,Arsenal,Watford,W,Arsenal
...,...,...,...,...,...,...,...
3702,0,0,2022-04-30,Wolverhampton Wanderers,Brighton,L,Wolves
3703,0,0,2022-05-07,Wolverhampton Wanderers,Chelsea,D,Wolves
3704,0,0,2022-05-11,Wolverhampton Wanderers,Manchester City,L,Wolves
3705,0,0,2022-05-15,Wolverhampton Wanderers,Norwich City,D,Wolves
3706,0,0,2022-05-22,Wolverhampton Wanderers,Liverpool,L,Wolves

In [59]:
merged = combined.merge(combined, left_on=["date","new_team"],right_on=["date","opponent"])

In [60]:
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,0,1,2022-01-23,Arsenal,Burnley,D,Arsenal,0,0,Burnley,Arsenal,D,Burnley
1,1,1,2022-02-10,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
2,1,1,2022-02-19,Arsenal,Brentford,W,Arsenal,0,0,Brentford,Arsenal,L,Brentford
3,1,0,2022-02-24,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
4,1,0,2022-03-06,Arsenal,Watford,W,Arsenal,0,0,Watford,Arsenal,L,Watford
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,0,0,2022-04-30,Wolverhampton Wanderers,Brighton,L,Wolves,1,0,Brighton and Hove Albion,Wolves,W,Brighton
384,0,0,2022-05-07,Wolverhampton Wanderers,Chelsea,D,Wolves,0,0,Chelsea,Wolves,D,Chelsea
385,0,0,2022-05-11,Wolverhampton Wanderers,Manchester City,L,Wolves,1,1,Manchester City,Wolves,W,Manchester City
386,0,0,2022-05-15,Wolverhampton Wanderers,Norwich City,D,Wolves,0,0,Norwich City,Wolves,D,Norwich City
387,0,0,2022-05-22,Wolverhampton Wanderers,Liverpool,L,Wolves,1,0,Liverpool,Wolves,W,Liverpool

In [61]:
merged[(merged["predicted_x"]==1)&(merged["predicted_y"]==0)]["actual_x"].value_counts()

1    54
0    28
Name: actual_x, dtype: int64

In [62]:
54/(54+28)

0.6585365853658537